---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-8",
  ]}
>
  <a
    href={`/search/?q=${encodeURIComponent(tagName)}`}
    transition:name={tag}
    class:list={[
      "relative inline-flex items-center gap-1 pe-2 text-foreground/70 underline decoration-dotted underline-offset-4 group-hover:text-accent focus-visible:p-1 focus-visible:no-underline",
      { "text-sm": size === "sm" },
      { "text-lg": size === "lg" },
    ]}
  >
    <span class="text-foreground/60">#</span>
    <span class="-ms-1">{tagName}</span>
  </a>
</li>
